<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">true</property>
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.104:3306/histocons</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.historiasclinicas.entidades.Paciente" />
        <mapping class="com.historiasclinicas.entidades.Planillapediatrica" />
        <mapping class="com.historiasclinicas.entidades.Provincia" />
        <mapping class="com.historiasclinicas.entidades.Vacunas" />
        <mapping class="com.historiasclinicas.entidades.Turnos" />
        <mapping class="com.historiasclinicas.entidades.Estados" />
        <mapping class="com.historiasclinicas.entidades.Obrassociales" />
        <mapping class="com.historiasclinicas.entidades.Errorescongenitos" />
        <mapping class="com.historiasclinicas.entidades.Usuarios" />
        <mapping class="com.historiasclinicas.entidades.Historia" />
        <mapping class="com.historiasclinicas.entidades.Ciudad" />
        <mapping class="com.historiasclinicas.entidades.Crecimiento" />
        <mapping class="com.historiasclinicas.entidades.Otrasvacunas" />
        <mapping class="com.historiasclinicas.entidades.Horarios" />
    </session-factory>
</hibernate-configuration>
